<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>

	<h1>Epic Task</h1>
	
	<div class="card">
	
		<h2 th:text="#{newtask}"></h2>
	
		<form class="form" action="/task" method="post" th:object="${task}">
			<label 
				class="hide" 
				for="title"
				th:text="#{label.title}">
			</label>
			<input 
				th:classappend="${#fields.hasErrors('title')}? invalid"
				class="invalid" 
				type="text" 
				id="title" 
				name="title" 
				th:field="*{title}"
				th:placeholder="#{label.title}">
			<span th:errors="*{title}"></span>
			
			<label 
				class="hide" 
				for="description"
				th:text="#{label.description}">
			</label>
			<textarea 
				id="description" 
				name="description" 
				th:placeholder="#{label.description}"
				th:field="*{description}">
			</textarea>
			<span th:errors="*{description}"></span>
			
			<label for="points" th:text="#{label.points}"></label>
			<input 
				type="range" 
				id="points" 
				name="points" 
				min=10 
				max=500 
				th:field="*{points}" 
				step="10" 
				oninput="document.querySelector('#output-points').value=this.value"
			>
			<output id="output-points">10</output>
			<span th:errors="*{points}"></span>
			
			<div class="form-buttons">
				<a class="button" href="/task" th:text="#{button.cancel}"></a>
				<button class="primary" th:text="#{button.save}"></button>			
			</div>
		</form>	
	</div>

</body>
</html>