<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>
	<h1>EPIC TASK</h1>
	
	<span class='card' th:if="${message != null}" th:text="${message}"></span>
	
	<h2 th:text="#{tasks}"></h2>

	<a href="/task/new" th:text="#{newtask}"></a>

	<ul th:each="task : ${tasks}">
		<li>
			<p th:text="${task.title}"></p>
			<p th:text="${task.description}"></p>
			<p th:text="${task.points}"></p>
			<button th:text="#{button.take}"></button>
		</li>
	</ul>
</body>
</html>